save-temps=1
temp_dir=link_multi_tmp
report_dir=link_multi_tmp/reports
log_dir=link_multi_tmp/logs

[connectivity]
# 2 kernel instances (idea: use the idle 2/3 of the chip)
nk=arith_kernel:2:arith_kernel_1.arith_kernel_2
# each instance on its OWN HP ports (idea: don't share AXI bandwidth)
sp=arith_kernel_1.in:HP0
sp=arith_kernel_1.out:HP1
sp=arith_kernel_1.out_len:HP1
sp=arith_kernel_2.in:HP2
sp=arith_kernel_2.out:HP3
sp=arith_kernel_2.out_len:HP3

[clock]
id=1:arith_kernel_1
id=1:arith_kernel_2
