# Board build: exports arith_kernel(in, n, out, out_len), signature-compatible
# with V5's board/hls_board.cfg so board/link.cfg needs no change.
# Note clock=6.0ns (~167 MHz), not V5's 5ns/200MHz.
part=xck26-sfvc784-2LV-c

[hls]
flow_target=vitis
package.output.format=xo
package.output.syn=false
syn.top=arith_kernel
syn.file=mcoder_board.cpp
syn.file=mcoder_hls.cpp
syn.file=../mcoder.h
syn.file=../mcoder_tables.h
tb.file=mcoder_board_test.cpp
tb.file=../mcoder_dec.cpp
clock=6.0ns
syn.cflags=-DMC_KWAY=8 -DMC_CTX_LUTRAM
tb.cflags=-DMC_KWAY=8 -DMC_CTX_LUTRAM
